body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
h2{
    color: blue;
    margin-left: 10px;
    text-align: center;
}
p{
    margin-left: 5px;
    text-align: center;
}
ul{
    text-align: center;
    padding-left: 0;
}

ol{
    text-align: center;
    padding: 0;
}
.container{
    display: flex;
    margin-left: 10px;
    justify-content: center;
}
.container1{
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

#image-margin{
    margin: 20px;
}

h3{
    text-align: center;
}

.text{
    width: 390px;
    text-align: justify;
    margin-right: 10px;
    padding: 5px;
}

.image{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.conclusion{
    margin-bottom: 50px;
}